* {
  box-sizing: border-box;
}

body {
  background-color: #17181f;
  color: #fff;
}

main {
  min-height: 100vh;
  max-width: 20rem;
  margin: 30px auto;
}

form {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

form input[type='text'] {
  background: none;
  color: #fff;
  border: none;
  padding: 0 8px;
  display: block;
  width: 100%;
}

form button {
  background-color: #61dafb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

div.todo {
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  transition: opacity 0.3s linear;
  align-items: center;
}

div.todo svg {
  height: 20px;
  margin-right: 10px;
  fill: #61dafb;
}

div.todo.done {
  opacity: 0.4;
}

div.todo__name,
div.todo form {
  flex-grow: 1;
}

div.todo span {
  position: relative;
}

div.todo span::before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 10px;
  transition: width 0.3s linear;
}

div.todo.done span::before {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

div.checkbox {
  display: flex;
  align-items: center;
}

button.trash__icon {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

button.trash__icon svg {
  fill: #888;
  height: 14px;
}

div.todo input {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 2px 4px;
}
